.title-apropos {
    text-align: center;
    font: Bold 32px/39px Overlock;
    letter-spacing: 0px;
    color: #1B2920;
    text-shadow: 2px 5px 10px #00000033;
    text-transform: uppercase;
    text-decoration: underline;
}

.text-apropos {
    text-align: left;
    font: Regular 18px/27px Roboto;
    letter-spacing: 0px;
    color: #1B2920;
}

.title-icones-apropos {
    text-align: center;
    font: Bold 32px/39px Overlock;
    letter-spacing: 0px;
    color: #1B2920;
    text-shadow: 2px 5px 10px #00000033;
  
}

.text-icon-apropos {
    font: Bold 19px/24px Overlock;
    letter-spacing: 0px;
    color: #1B2920;
}

.icon-apropos {
    width: 100px;
}

.mt-5rem {
    margin-top: 5rem;
}
.mt--1 {
    margin-top: -1rem;
}
// espance entre les icones sur mobiles
@media screen and (max-width: 1200px) {
    .title-icones-apropos {
        margin-top: 5rem;
    }
    .mt-icones {
        margin-top: 3rem;
    }
    .d-none-mobile {
        display: none;
    }
    .d-show-mobile {
        display: inline !important;
    }
}
