.title-contact {
    font: Bold 2rem/2.438rem Overlock;
    letter-spacing: 0px;
    color: #1B2920;
    text-shadow: 2px 5px 10px #00000033;
    text-decoration: underline;
    text-transform: uppercase;
}

.contact-text-container {
    margin-left: 25rem;
    margin-right: 25rem;
}
.input-contact, .textarea-contact {
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 10px 15px 30px #00000033 !important;
    border: 1px solid #707070 !important;
}

.btn-contact {
    background: #A6BE26 0% 0% no-repeat padding-box;
    box-shadow: 10px 15px 30px #00000029;
    border-radius: 30px 0px 30px 30px;
    border: none;
    font: Bold 24px/29px Overlock;
    letter-spacing: 0px;
    color: #1A2322;
    text-shadow: 10px 30px 30px #00000029;
}

.btn-contact:hover {
    color: white;
}
@media screen and (max-width: 1200px) {
    
    .contact-text-container{
        margin-left: 3rem;
        margin-right: 3rem;
    }
}