.mt-5-rem {
    margin-top: 5rem;
}

.title-coop {
    font: Bold 2rem/2.438rem Overlock;
    letter-spacing: 0px;
    color: #1B2920;
    text-shadow: 2px 5px 10px #00000033;
    text-transform: uppercase;
    text-decoration: underline;
}
.mx-10-rem {
    margin-left: 25rem;
    margin-right: 25rem;
}

@media screen and (max-width: 1200px) {
    
    .mx-10-rem {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}