.box-shadow-encyclopedie {
    box-shadow: 0px 30px 30px #00000029
}
.bg-encyclopedie {
    background: #A6BE26 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 30px #00000029;
    border-radius: 30px 0px 30px 30px;
}
.title-encyclopedie {
    font: Bold 2rem/2.438rem Overlock;
    letter-spacing: 0px;
    color: #1B2920;
    text-shadow: 2px 5px 10px #00000033;
    text-transform: uppercase;
    text-decoration: underline;
}
.mt-10 {
    margin-top: 10rem;
}

.img-encyclopedie-left {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1200px) {
    .d-none-mobile {
        display: none;
    }
    .mb-5-mobile {
        margin-bottom: 5rem;
    }
    .mt-10 {
        margin-top: 3rem !important;
    }
}