.mt-10-rem {
    margin-top: 10rem;
}
.mt--1 {
    margin-top: -0.1rem;
}

.bg-footer-salade {
    background-image: url('../images/Salade_fixed.png');
    background-position: top;
    background-size: cover;
    height: 40vh;
    border: none;
}
.bg-footer-text {
    background: #1B2920 0% 0% no-repeat padding-box;
}
.footer-link {
    color: #F0F0F2;
    text-shadow: 0px 15px 15px #00000033;
    list-style: none;
    font: Bold 1.188rem/1.563rem Overlock;
}
.footer-link a{
    color: #F0F0F2;
    text-shadow: 0px 15px 15px #00000033;
    list-style: none;
    font: Bold 1.188rem/1.563rem Overlock;
    text-decoration: none;
}
.title-footer {
    color: #F0F0F2 !important;
    text-shadow: 0px 15px 15px #00000033 !important;
    font: Bold 1.8rem Overlock;
}
.img-text-footer {
    max-width: 130%;
    margin-bottom: 3rem;
    margin-right: 3rem;
}


@media screen and (max-width: 1200px) {
    
    .img-text-footer {
        max-width: 40% !important;
        margin-bottom: 0;
        margin-right: 0;
    }
    .mt-2-mobile {
        margin-top: 2rem;
    }
    .bg-footer-salade {
        
        height: 25vh;
    }
    .mobile-center {
        text-align: center !important;
        padding-left: 0rem !important;
    }
}