
* {
    scroll-behavior: smooth;
}

.logo-size {
    width: 3rem;
}

.navbar-brand {
    text-align: left;
    font: Bold Italic 2.450rem/3rem Overlock;
    letter-spacing: 0px;
    color: #1A2322;
    text-shadow: 3px 5px 15px #00000033;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font: Bold 1.188rem/1.5rem Overlock !important;
    letter-spacing: 0px !important;
    color: #1A2322 !important;
    text-transform: uppercase;
}
.mr-6 {
    margin-right: 5rem;
}

nav {
    box-shadow: 0px 15px 20px #00000033;
}
.header-background {
    height: 100vh;
    background-image: url("../images/header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 30px 30px #00000033;
    // width: 100vw;
    background-size: cover;
}

.header-content {
    padding-top: 21.625rem;
    padding-left: 16.188rem;
}

.btn-fr {
    font-size: 1rem !important;
    margin-left: 1rem;
}
// style sur le p au dessus du bouton
.para-btn-regisrer {
    font: Bold 32px/50px Overlock;
    letter-spacing: 0px;
    color: #1A2322;
    text-shadow: 3px 5px 10px #00000033;
}

.btn-register {
    background: #94C120 0% 0% no-repeat padding-box;
    box-shadow: 10px 15px 30px #00000029;
    border-radius: 30px 0px 30px 30px;
    border: none;
}
// style à l'intérieur du bouton
.text-btn-register {
    text-align: center;
    font: Bold 24px/29px Overlock;
    letter-spacing: 0px;
    color: #1A2322;
    text-shadow: 10px 30px 30px #00000029;
    opacity: 1;
    text-decoration: none !important;
}
.text-btn-register:hover {
    color: #fff;
}

.pt-14 {
    padding-top: 14rem;
}
.pl-12 {
    padding-left: 12rem;
}

.ml-5-rem {
    margin-left: 5rem;
}
// enlève les marges dans la navbar
@media screen and (max-width: 1600px) {
    .mr-6 {
        margin-right: 4rem !important;
    }
    .brand-mobile {
        margin-left: 0 !important;
    }
}
// reduit la taille de la font
@media screen and (max-width: 1460px) {
    .logo-size {
        width: 40px;
        height: 40px;
    }
    .navbar-brand{
        font: Bold Italic 25px/35px Overlock;
    }
    .nav-link {
        font: Bold 20px/25px Overlock !important;
    }
}
// fait en sorte que le content du header soit centré et ne sorte pas quand je toogle le btn
@media screen and (max-width: 1200px) {
    .header-content {
        padding-top: 5rem;
        padding-left: 0;
    }
    .header-content-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header-background {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mt-3-mobile {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 425px) {
    .btn-register {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
}